Steps to build project:
Setup Project: Created a Vite React TypeScript project and installed Tailwind CSS.

Folder Structure : Organize contexts/, components/, types/, AppProviders.tsx, and App.tsx.

Define Types :Created Todo, FilterType, and ThemeType in types/index.ts.

TodoContext : Used useReducer for CRUD + clear completed; persist todos in localStorage.

FilterContext : Used useState to track current filter (all, active, completed).

ThemeContext : Used useState to track theme; apply .dark class to <html>; persist in localStorage.

AppProviders : Wrapd App with ThemeProvider > TodoProvider > FilterProvider.

Components : Build TodoInput, TodoList, TodoItem, FilterButtons, ThemeToggleButton using Tailwind.

Filtering & Dark Mode :Filter todos based on context; toggle dark mode globally with Tailwind classes.



//////////////////////////////////////////////////////////////
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
